@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
  --font-unbounded: var(--font-unbounded);
  /* Background Colors */
  --color-white: #ffffff;
  --color-white-transparent-1: #ffffff1a;
  --color-white-transparent-2: #ffffff17;
  --color-white-transparent-3: #ffffff54;
  --color-off-white-1: #fafbfc;
  --color-off-white-2: #f8fbfe;
  --color-light-teal: #67e1bf;
  --color-light-sky-blue: #89d0e6;
  --color-light-pink: #efa4e8;
  --color-bright-light-blue: #63c1ff;
  --color-muted-teal: #7dbcc6;
  --color-orange: #eaa25e;
  --color-vibrant-green: #28c76f;
  --color-light-purple: #a4a0d4;
  --color-medium-sky-blue: #6aa9e0;
  --color-bright-blue-1: #148cfc;
  --color-bright-blue-2: #1079fc;
  --color-dark-gray-transparent: #4d4d4d21;
  --color-very-dark-blue: #01071a;
  --color-dark-gray: #030303;
  --color-black: #000000;
  
  /* Text Colors */
  --color-text-white: #ffffff;
  --color-very-light-gray: #fdfdfd;
  --color-light-gray: #f2f2f2;
  --color-light-gray-transparent: #ededede6;
  --color-light-blue-gray: #ccd6df;
  --color-medium-gray: #c4c4c4;
  --color-light-blue: #8bbcfa;
  --color-lime-green: #61ce70;
  --color-bright-blue: #1079fc;
  --color-deep-pink: #cc3366;
  --color-red-orange: #c72310;
  --color-text-dark-gray: #333333;
  --color-dark-blue: #152c5b;
  --color-very-dark-gray: #222222;
  --color-text-black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-white);
  color: var(--color-text-dark-gray);
  font-family: var(--font-outfit);
}

html {
  scroll-behavior: smooth;
}
.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.bg-custom-white { background-color: var(--color-white); }
.bg-custom-dark-gray-transparent { background-color: var(--color-dark-gray-transparent); }
.bg-custom-bright-blue-2 { background-color: var(--color-bright-blue-2); }
.text-custom-white { color: var(--color-text-white); }
.text-custom-dark-gray { color: var(--color-text-dark-gray); }
.border-custom-bright-blue-2 { border-color: var(--color-bright-blue-2); }



* {
  transition: all 0.6s ease;
}
